<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.example.e4.rcp.wizard"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="com.example.e4.rcp.wizard">
         </property>
         <property
               name="applicationXMI"
               value="com.example.e4.rcp.wizard/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.example.e4.rcp.wizard/css/default.css">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="150,60,200,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,10,200,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
